[submodule "hmap"]
	path = hmap
	url = https://github.com/ocxtal/libhmap.git
[submodule "psort"]
	path = psort
	url = https://github.com/ocxtal/libpsort.git
[submodule "zf"]
	path = zf
	url = https://github.com/ocxtal/libzf.git
